header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  margin-right: 30px;
}